body {
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: hsl(222, 26%, 31%);
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
}

.main {
    width: 30%;
    height: 500px;
    margin-top: 6%;
    margin-left: 33%;
}

.init {
    font-weight: 700;
    font-size: 32px;
    color: white;
}

.calc {
    margin: 10px;
    padding: 0;
}

.init button {
    font-size: 24px;
    margin-top: 8px;
    margin-right: 0px;
    background-color: hsl(223, 31%, 20%);
    color: magenta;
    box-shadow: hsl(28, 16%, 65%);
    border: none;
    border-radius: 10px;
    width: 30%;
    font-weight: 700;
    cursor: pointer;
    float: inline-end;
}

.output {
    width: 94%;
    color: white;
    padding-right: 5%;
    border-radius: 15px;
    text-align:right;
    font-size: 36px;
    font-weight: 700;
}

.grid-container {
    display: grid;
    background-color: hsl(223, 31%, 20%);
    height: 350px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1%;
    row-gap: 5%;
    padding: 5% 0% 5% 5%;
    margin-top: 3%;
    border-radius: 15px;
}

.grid-container button {
    background-color: hsl(225, 21%, 49%);
    color: white;
    border-radius: 10px;
    width: 80%;
    height: 100%;
    font-weight: 600;
    background-color: hsl(30, 25%, 89%);
    box-shadow: hsl(28, 16%, 65%);
    color: hsl(221, 14%, 31%);
    font-size: 30px;
    font-weight: 700;
}

.reset {
    margin-left: 10%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.equals {
    grid-column-start: 3;
    grid-column-end: 5;
    margin-right: 10%;
}

.grid-container button:hover {
    color: black;
    background-color: peachpuff;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.output {
    background-color: hsl(224, 36%, 15%);
    border-color: transparent;
    height: 20%;
    margin-bottom: 0%;
}

@media screen and (max-width:1311px) {
    .main {
        width: 400px;
        margin-left: 31%;
    }
}

@media screen and (max-width:800px) {
    .main {
        margin-left: 28%;
    }
}

@media screen and (max-width:750px) {
    .main {
        margin-left: 22%;
    }
}

@media screen and (max-width:695px) {
    .main {
        margin-left: 20%;
    }
}

@media screen and (max-width:650px) {
    .main {
        margin-left: 18%;
    }
}

@media screen and (max-width:625px) {
    .main {
        margin-left: 16%;
    }
}

@media screen and (max-width:550px) {
    .main {
        margin-left: 14%;
    }
}

@media screen and (max-width:515px) {
    .main {
        margin-left: 12%;
    }
}

@media screen and (max-width:490px) {
    .main {
        margin-left: 8%;
    }
}

@media screen and (max-width:450px) {
    .main {
        margin-left: 4%;
    }
}

@media screen and (max-width:435px) {
    .main {
        width: 400px;
        margin-left: 3%;
    }
}

@media screen and (max-width:415px) {
    .main {
        margin-left: 2px;
    }
}

@media screen and (max-width:405px) {
    .main {
        margin-left: 0;
    }
}

@media screen and (max-width:400px) {
    .main {
        width: 380px;
        margin-left: 2%;
    }
    .changetheme {
       font-size: 20px;
       font-weight: 600;
       min-width: 40%;
    }
}

@media screen and (max-width:388px) {
    .main {
        margin-left: 1%;
    }
}

@media screen and (max-width:384px) {
    .main {
        margin-left: 0;
    }
}

@media screen and (max-width:380px) {
    .main {
        width: 370px;
    }
}

@media screen and (max-width:370px) {
    .main {
        width: 360px;
        margin-left: 1%;
    }
}

@media screen and (max-width:365px) {
    .main {
        margin-left: 0;
    }
}

/* .theme2 {

} */

